In [1]:
sent1 = 'It is good practice for us.'
sent2 = 'It was also good to know about it.'

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
tfidf = TfidfVectorizer()

In [4]:
new_text = tfidf.fit_transform([sent1, sent2])

In [6]:
new_text.toarray()

array([[0.        , 0.        , 0.44665616, 0.31779954, 0.44665616,
        0.31779954, 0.        , 0.44665616, 0.        , 0.44665616,
        0.        ],
       [0.36439074, 0.36439074, 0.        , 0.25926702, 0.        ,
        0.51853403, 0.36439074, 0.        , 0.36439074, 0.        ,
        0.36439074]])

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(new_text.toarray(), columns=tfidf.get_feature_names_out())

In [9]:
df

,about,also,for,good,is,it,know,practice,to,us,was
0,0.000000,0.000000,0.446656,0.317800,0.446656,0.317800,0.000000,0.446656,0.000000,0.446656,0.000000
1,0.364391,0.364391,0.000000,0.259267,0.000000,0.518534,0.364391,0.000000,0.364391,0.000000,0.364391

In [10]:
tfidf = TfidfVectorizer(stop_words='english')

In [11]:
new_text = tfidf.fit_transform([sent1, sent2])

In [12]:
df = pd.DataFrame(new_text.toarray(), columns=tfidf.get_feature_names_out())

In [13]:
df

       good      know  practice
0  0.579739  0.000000  0.814802
1  0.579739  0.814802  0.000000

In [14]:
f = open('sample_sentences.txt','r')
new_text = tfidf.fit_transform(f.readlines())
df = pd.DataFrame(new_text.toarray(), columns=tfidf.get_feature_names_out())
df

,30,deadline,does,door,finish,forget,leave,lock,meet,minutes,movie,need,park,pass,salt,start,time,tonight,work
0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.707107,0.707107,0.000000,0.000000,0.000000,0.0
1,0.5,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.5,0.5,0.000000,0.0,0.5,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2,0.0,0.5,0.000000,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.000000,0.5,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.5
3,0.0,0.0,0.447214,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.447214,0.0,0.0,0.000000,0.000000,0.447214,0.447214,0.447214,0.0
4,0.0,0.0,0.000000,0.5,0.0,0.5,0.5,0.5,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0